<launch>


<arg name="use_hardware" default="false"/>
<arg name="collect_data" default="false"/>
<arg name="video_path" default = "$(env HOME)/infrastructure_system/src/data_collection/recorded_video/"/>
<arg name="rosbag_path" default = "$(env HOME)/infrastructure_system/src/data_collection/rosbags/trial"/>

<include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />
<include file="$(find flexbe_app)/launch/flexbe_ocs.launch">
	<arg name = "no_app" value = "false"/>
</include>

<node pkg="rosbag" type="record" name="rosbag_record_sensors"
       args="record -o  $(arg rosbag_path) /door_sensors" if="$(arg collect_data)"/>  

<node pkg="rosbag" type="record" name="rosbag_record_timestamps"
       args="record -o $(arg rosbag_path) /data_timestamps" if="$(arg collect_data)"/> 

<node
name="single_stage_as"
pkg="hardware_flexbe_link"
type="single_stage_as"
output="screen"
/>

<node
name="data_collection_as"
pkg="data_collection"
type="data_collection_as"
output="screen"
>

<param name="video_path" type="string" value="$(arg video_path)"/>

</node>

<node
name="serial_node"    
pkg="rosserial_python"    
type="serial_node.py"
if="$(arg use_hardware)"
>


<param name="port" type="string" value="/dev/ttyACM0"/>

<param name="baud" type="int" value="57600"/>
</node>

</launch>

